
.project
/*/.project
/*/src/META-INF

META-INF
/*/META-INF
/*/META-INF/*

.classpath
/*/.classpath

.settings
/*/.settings
/*/.settings/*

target
/*/target
/*/target/*

bin
/*/bin
/*/bin/*

.DS_Store
/*/.DS_Store

version.html
src/main/resources/static/version.html
/.idea
/order-job.iml